<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1 data-i18n="ns:main_tmpl_title"></h1>
    <div data-i18n="ns:main_tmpl_text"></div>
    <button data-i18n="ns:ok-button"></button>
</body>
</html>