<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1 data-i18n="main_tmpl.title"></h1>
    <div data-i18n="main_tmpl.text"></div>
    <button data-i18n="ok-button"></button>
</body>
</html>